@model SapModule.Application.Projects.Dto.ProjectInput

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<div class="modal-dialog" role="document">
    <form id="create-project">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">@L("ProjectSetup")</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(a=>a.Id)
                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="project-name">
                            Nombre del Proyecto <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(a => a.Name, new {@class = "form-control"})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="project-description">
                            Descripción <span class="required">*</span>
                        </label>
                        @Html.TextAreaFor(a => a.Description, new {@class = "form-control"})

                    </div>
                    <div class="form-group">
                        <label for="start-date" class="control-label">Fecha de Inicio</label>

                        @Html.TextBoxFor(a => a.StartDate, new {@class = "form-control", disabled = "disabled"})

                    </div>
                    <div class="form-group">
                        <label for="end-date" class="control-label">Fecha de Finalización</label>

                        @Html.TextBoxFor(a => a.EndDate, new {@class = "form-control", disabled = "disabled"})

                    </div>
                    <div class="form-group">
                        <label for="end-date" class="control-label">¿Definir Presupuesto Inicial?</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="defineBudget"/>
                            </label>
                        </div>

                    </div>
                    <div id="bdefiner" class="form-group hide">
                        <label for="initial-budget" class="control-label">Presupuesto Inicial</label>
                        <input type="number" class="form-control" id="initial-budget" name="InitialBudget"/>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
                <button type="submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </div>
    </form>
</div>

    <script>
        (function ($) {
            $("#create-project").on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var project = form.serializeFormToObject();
                abp.ui.setBusy(form, editProject(project));
            });
            var editProject = function (project) {
                return abp.services.sap.projectService.editProject(project).done(function (response) {
                    window.location.href = "/ProjectManager" + "/Manage/" + project.Id;
                });
            };
        })($);
    </script>